@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: auto;
  height: auto;
}

html {
  font-size: 100%;
} /*16px*/

body {
  font-family: josefinSans-light, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

h2 {
  font-size: 3rem;
}

@media screen and (max-width: 769px) {
  h2 {
    font-size: 2.5rem;
    margin-bottom: -1.5rem;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  --transition: 0.3s ease-in-out all;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Event Arrows */

.slider-dark .slick-prev::before,
.slider-dark .slick-next::before {
  color: black !important;
  font-size: 35px;
}

.slider-dark .slick-dots li button:before {
  color: #638409 !important;
}

.slider-dark .slick-next {
  right: 0px !important;
}

.slick-slide {
  transform: scale(0.8); /* Scale down all slides */
  transition: transform 0.3s ease; /* Smooth transition */
}

.slick-center {
  transform: scale(1); /* Scale up the active slide */
}

@media screen and (max-width: 768px) {
  .slider-dark .slick-prev::before {
    font-size: 30px !important;
  }

  .slider-dark .slick-next::before {
    font-size: 30px !important;
  }
  .slider-dark .slick-next {
    right: -15px !important;
  }
}

/* Program Arrows */

.slider-light .slick-prev::before {
  font-size: 35px !important;
}

.slider-light .slick-next::before {
  font-size: 35px !important;
}

.slider-light .slick-next {
  right: -6px !important;
}

.slider-light .slick-dots li button:before {
  color: #638409 !important;
}

@media screen and (max-width: 768px) {
  .slider-light .slick-prev::before {
    font-size: 30px !important;
  }

  .slider-light .slick-next::before {
    font-size: 30px !important;
  }
  .slider-light .slick-next {
    right: -15px !important;
  }
}
